/* Set fontsize for 1rem = 10px */

html {
    font-size: 10px;
}


/* Typography */

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'PT Serif', serif;
    background: $white-yellow-hor;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    clear: both;
}

p {
    font-size: 1.6rem;
}

.site-header {
    display: grid;
    grid-template-columns: auto $maxblock auto;
    height: 95px;
    &>div:first-of-type {
        border-bottom: $border solid $orange2;
    }
    .header-content {
        border-left: $border solid $orange2;
        border-bottom: $border solid $orange2;
        display: flex;
        align-items: center;
        &>div {
            @include mauto;
            width: 100%;
            padding-left: 16rem;
            padding-right: 16rem;
            .social {
                display: flex;
                align-items: center;
                a {
                    display: block;
                    height: 5rem;
                    margin: 0 1rem;
                    &.youtube {
                        width: 6rem;
                        background: url('i/icon-youtube-or.svg') left center no-repeat;
                        background-size: contain;
                    }
                    &.instagram {
                        width: 4.6rem;
                        background: url('i/icon-istagram-or.svg') left center no-repeat;
                        background-size: contain;
                    }
                    &.facebook {
                        width: 5rem;
                        background: url('i/icon-facebook-or.svg') left center no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}


/*Home*/

.hero {
    @include index_block;
    display: flex;
    color: $d_orange;
    padding-top: $mb_padding;
    padding-bottom: $mb_padding;
    background-image: url(i/hero_omra.png);
    background-size: auto 42vw;
    background-position: right 10% bottom 0;
    background-repeat: no-repeat;
    border-left: $border solid;
    border-image-slice: 1;
    border-image-source: $vert-red-reverse;
    border-width: $border;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        border-right: $border solid;
        border-image-slice: 1;
        border-image-source: $vert-red-transparent;
        border-width: $border;
    }
    h1 {
        font-size: 4.8vw;
        line-height: 1.35;
        span {
            font-size: 60%;
            display: block;
            margin-top: .1em;
        }
    }
    ul {
        list-style: disc outside;
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-left: 1em;
        li {
            line-height: 1.35;
        }
    }
}

.spacer-liner {
    display: grid;
    grid-template-columns: auto $maxblock auto;
    height: 3rem;
    &>div:nth-of-type(2),
    &>div:nth-of-type(3) {
        border-top: $border solid $red2;
    }
    &.botm {
        &>div:nth-of-type(2),
        &>div:nth-of-type(3) {
            border-bottom: $border solid $red2;
            border-top: none;
        }
    }
    &.rev {
        &>div:nth-of-type(1),
        &>div:nth-of-type(2) {
            border-bottom: $border solid $red2;
            border-top: none;
        }
        &>div:nth-of-type(3) {
            border: none;
        }
        &.top {
            &>div:nth-of-type(1),
            &>div:nth-of-type(2) {
                border-top: $border solid $red2;
                border-bottom: none;
            }
            &>div:nth-of-type(3) {
                border: none;
            }
        }
    }
}

.redbut {
    display: inline-block;
    background-color: $red;
    color: $l_grey;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 3rem;
    transition: .3s all ease;
    text-decoration: none;
    &:hover {
        transform: scale(1.1);
        transform: translateY(-.2rem);
    }
}

.shcedule_cta {
    background: $cta_gradient;
    padding: 3rem 0;
    color: white;
    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            padding: 3rem 3rem 3rem 9rem;
            background: url(i/calendar.svg) left center no-repeat;
            background-size: 6.7rem;
            font-family: 'PT Serif', serif;
            font-size: 3rem;
            font-weight: 400;
        }
        a {
            display: block;
            border: 3px solid #FAF8F2;
            border-radius: 44px;
            color: #FAF8F2;
            font-size: 2rem;
            padding: 1rem 3rem;
            text-decoration: none;
            line-height: 2rem;
            margin-top: .5rem;
            transition: all .3s ease;
            &:hover {
                transform: scale(1.05);
                background-color: #FAF8F2;
                color: #F67836;
            }
        }
    }
}

p.orbg {
    font-size: 2.2rem;
    padding: 3rem 4.5rem;
    background-color: $orange;
    color: $l_grey;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
    border-radius: 57px;
    margin-bottom: 6rem;
}

.welcome>div {
    @include index_block;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-left: $border solid;
    border-image-slice: 1;
    border-image-source: $vert-red-transparent-ext;
    border-width: $border;
    background: url(i/mandala.png) center right no-repeat;
    background-size: 99rem;
    h2 {
        font-size: 6.5rem;
        line-height: 1.4;
        color: $d_orange;
        font-weight: 400;
        padding-top: 3rem;
    }
    p {
        font-size: 2.4rem;
        line-height: 1.4;
        margin: 1.5em 0;
        color: $brown;
        &.orbg {
            font-size: 2.2rem;
            margin-bottom: 6rem;
            color: $l_grey;
        }
    }
}

.welcome--p1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7.5rem;
    &>div:last-of-type {
        background: url(i/pic_01.jpg) center center no-repeat;
        background-size: cover;
        position: relative;
        @include imgroundborder;
    }
}

.welcome--p2 {
    display: grid;
    grid-template-columns: 54% auto;
    gap: 9rem;
    align-items: center;
    margin: 6rem auto;
    &>div:first-of-type {
        background: url(i/pic_02.jpg) center center no-repeat;
        background-size: cover;
        position: relative;
        @include imgroundborder;
        min-height: 47.8rem;
    }
    .orbg {
        max-width: 80%;
        font-size: 2rem;
        text-align: center;
        color: $l_grey;
    }
}

.mailing_request {
    background-color: $d_brown;
    padding: 6rem $mob_padding;
    &>div {
        max-width: 1200px;
        @include mauto;
        display: grid;
        grid-template-columns: auto 45%;
        gap: 9rem;
        .mailing_form {
            padding-right: 6rem;
        }
        &>div:first-of-type {
            color: $l_yellow;
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
            padding-top: 28rem;
            background: url(i/mandala.png) top center no-repeat;
            background-size: 27rem;
        }
    }
}

.mailing_form form {
    color: white;
    padding-top: 2rem;
    p {
        margin: 1em 0;
        font-size: 1.4rem;
        span:first-of-type {
            display: block;
            padding-left: 2rem;
        }
    }
    input,
    input:focus {
        width: 100%;
        color: $d_brown;
        border: transparent;
        border-radius: 3rem;
        padding: .7rem 2rem;
        background: $yellow2;
        margin-top: -.5rem;
        font-size: 1.4rem;
    }
    input[type="submit"] {
        width: 40%;
        display: block;
        @include mauto;
        margin-top: 3rem;
        padding: 1.5rem 0;
        background: $red3;
        border-radius: 3rem;
        color: white;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
            background-color: $yellow2;
            color: $red3;
        }
    }
}

.videogallery {
    &>div {
        @include index_block;
        max-width: 130rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .carousel-item {
        max-height: 62rem;
        border-radius: 6rem;
        border: $border solid $orange;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        video {
            height: 100%;
            width: auto;
            max-height: 100%;
        }
    }
    .owl-carousel {
        .owl-item {
            display: flex;
            justify-content: center;
        }
        .owl-nav {
            position: absolute;
            top: 44%;
            width: 130%;
            left: -15%;
            display: flex;
            justify-content: space-between;
            button {
                width: 8rem;
                height: 8rem;
                display: block;
                background: url(i/arrow-or.svg) center center no-repeat;
                background-size: cover;
                opacity: .9;
                transition: all .3s ease;
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
                span {
                    display: none;
                }
                &.owl-next {
                    transform: rotate(180deg);
                    &:hover {
                        opacity: 1;
                        transform: rotate(180deg) scale(1.1);
                    }
                }
            }
        }
    }
}

.useful {
    background-image: url(i/mandala.png), url(i/mandala.png);
    background-position: left -27% center, right -27% center;
    background-repeat: no-repeat, no-repeat;
    background-size: 72rem;
    &>div {
        @include index_block;
        padding-top: 6rem;
        padding-bottom: 12rem;
        h2 {
            color: $d_orange;
            text-align: center;
            font-size: 6.4rem;
        }
        .orbg {
            @include mauto;
            text-align: center;
            margin-top: 6rem;
            line-height: 1.4;
            &.bl_1 {
                font-size: 2.8rem;
                max-width: 70%;
            }
            &.bl_2 {
                font-size: 2.5rem;
            }
            &.bl_3 {
                font-size: 2.5rem;
                display: inline-block;
                margin-top: 0;
            }
        }
        .two_col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            /* max-width: 1300px; */
            @include mauto;
            &.rev {
                text-align: right;
                gap: 6rem;
                p:not(.orbg) {
                    padding-right: 0;
                }
                h3 {
                    padding-top: 0;
                }
            }
            &.bl_3 {
                grid-template-columns: 60% auto;
            }
            h3 {
                color: $d_orange;
                font-size: 4.1rem;
                margin-bottom: 1em;
                font-weight: 400;
                padding-top: 3rem;
                line-height: 1.4;
            }
            p:not(.orbg) {
                color: $brown;
                font-size: 2rem;
                line-height: 1.4;
                padding-right: 10%;
                margin-bottom: 3rem;
            }
            .pic_03,
            .pic_04,
            .pic_05,
            .pic_06 {
                background: url(i/pic_03.jpg) center center no-repeat;
                background-size: cover;
                @include imgroundborder;
            }
            .pic_04 {
                background: url(i/pic_04.jpg) center center no-repeat;
                background-size: cover;
            }
            .pic_06 {
                background: url(i/pic_06.jpg) center center no-repeat;
                background-size: cover;
            }
        }
    }
    &.bl2 {
        background-position: left -27% bottom, right -27% bottom;
        &>div {
            padding-bottom: 1rem;
        }
    }
    .pic_05 {
        background: url(i/pic_05.png) center center no-repeat;
        background-size: cover;
        max-width: 79rem;
        height: 59rem;
        @include mauto;
        margin-top: 3rem;
        @include imgroundborder;
        margin-top: 6rem;
    }
}

.pic_tstm {
    width: 24rem;
    height: 24rem;
    border: $border $orange solid;
    border-radius: 100%;
    @include mauto;
    position: relative;
    &>div {
        position: absolute;
        width: 20rem;
        height: 20rem;
        top: 1.7rem;
        left: 1.7rem;
        border-radius: 100%;
    }
}

.testimonial>div {
    @include index_block;
    padding-top: 3rem;
    padding-bottom: 4.5rem;
    border-left: $border solid;
    border-image-slice: 1;
    border-image-source: $vert-orange-transparent-ext;
    border-width: $border;
    text-align: center;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 1px;
        right: 0;
        height: 100%;
        border-left: $border solid;
        border-image-slice: 1;
        border-image-source: $vert-red-transparent-ext-rev;
        border-width: $border;
        top: 0;
    }
    &.double {
        display: flex;
        &>div {
            max-width: 50%;
            p {
                margin: 1em 0;
            }
        }
    }
    .pic_tstm>div {
        background: url(i/anna_z.jpg) center center no-repeat;
        background-size: cover;
    }
    h4 {
        font-size: 2.8rem;
        color: $d_orange;
        margin: .6em 0 1.2rem;
    }
    p {
        color: $brown;
        padding: 0 20%;
        line-height: 1.4;
    }
}

.slider {
    background: $vert-orange-sl;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
    &>div {
        @include index_block;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
    .carousel-item {
        min-height: 26vw;
        border-radius: 6rem;
    }
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 44%;
            width: 116%;
            left: -8%;
            display: flex;
            justify-content: space-between;
            button {
                width: 8rem;
                height: 8rem;
                display: block;
                background: url(i/w-arrow.svg) center center no-repeat;
                background-size: cover;
                opacity: .9;
                transition: all .3s ease;
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
                span {
                    display: none;
                }
                &.owl-next {
                    transform: rotate(180deg);
                    &:hover {
                        opacity: 1;
                        transform: rotate(180deg) scale(1.1);
                    }
                }
            }
        }
    }
}

.offer-form {
    background: $white-yellow;
    padding: 6rem $mob_padding;
    align-items: center;
    &>div {
        max-width: 1200px;
        @include mauto;
        display: grid;
        grid-template-columns: auto 50%;
        gap: 9rem;
        &>div:first-of-type {
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
            padding-top: 40rem;
            background: url(i/uzor_01.svg) top 8rem center no-repeat;
            background-size: auto 30rem;
            p.orbg {
                font-size: 2.2rem;
                padding: 2rem 4.5rem;
                border-radius: 57px;
                margin-bottom: 6rem;
            }
        }
    }
}

.offer-form form {
    color: #C17F15;
    padding-top: 2rem;
    margin: 0 6rem;
    p {
        margin: 1em 0;
        font-size: 1.4rem;
        span:first-of-type {
            display: block;
            padding-left: 2rem;
        }
    }
    input,
    select,
    textarea {
        width: 100%;
        color: $d_brown;
        border: transparent;
        border-radius: 3rem;
        padding: .7rem 2rem;
        background: $yellow2;
        margin-top: -.5rem;
        font-size: 1.4rem;
    }
    input[type="submit"] {
        width: 40%;
        display: block;
        @include mauto;
        margin-top: 3rem;
        padding: 1.5rem 0;
        background: $red3;
        border-radius: 3rem;
        color: white;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
            background-color: $yellow2;
            color: $red3;
        }
    }
}

.yelbg {
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 0;
    background-color: #FDEDA1;
    padding: 1rem 2rem;
    color: #C92610;
    border-radius: 3rem;
}

.courses {
    background: $courses_gradient;
    padding: 6rem 0;
    color: $l_grey;
    h3 {
        font-size: 4rem;
        margin-bottom: 9rem;
    }
    .steps {
        background: url(i/steps_bg_01.png) top left no-repeat;
        background-size: 96% auto;
        &>div {
            @include index_block;
            padding-top: 6rem;
            padding-bottom: 4.5rem;
        }
        .intro {
            display: grid;
            grid-template-columns: 50% auto;
            ul {
                padding-left: 3rem;
            }
            li {
                list-style: disc;
                font-size: 2.8rem;
                margin-bottom: .4em;
            }
        }
        .steps_get {
            background: url(i/steps_group_01.png) top left no-repeat;
            background-size: 100% auto;
            min-height: 48rem;
            &>div {
                display: grid;
                grid-template-columns: 33% 34% 33%;
                &>div {
                    text-align: center;
                    padding-left: 20%;
                    padding-right: 20%;
                    font-size: 2rem;
                    line-height: 1.4;
                    &:first-of-type {
                        padding-top: 24rem;
                        padding-left: 16%;
                    }
                    &:nth-of-type(2) {
                        padding-top: $mb_padding;
                    }
                    &:nth-of-type(3) {
                        padding-top: 10rem;
                        padding-left: 28%;
                        padding-right: 10%;
                    }
                }
            }
        }
        .steps_offer {
            padding-top: 0;
            &>div {
                padding: 3rem 0 4.5rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                &>div {
                    padding: 13rem 0 0;
                    text-align: center;
                    color: $l_grey;
                    font-size: 2rem;
                    &:first-child {
                        background: url(i/icon-meditation.svg) top center no-repeat;
                        background-size: auto 12rem;
                    }
                    &:nth-child(2) {
                        background: url(i/icon-lotus.svg) top center no-repeat;
                        background-size: auto 12rem;
                    }
                    &:nth-child(3) {
                        background: url(i/noun-dancer.svg) top center no-repeat;
                        background-size: auto 12rem;
                    }
                }
            }
        }
    }
    .archetypes {
        h3 {
            margin-bottom: 3rem;
        }
        a {
            margin-top: 3rem;
        }
        p {
            color: #851F1F;
            line-height: 1.4;
            font-size: 2.2rem;
            margin-bottom: 1em;
        }
        p.orbg {
            font-size: 2.8rem;
            text-align: center;
            line-height: 1.4;
            color: $l_grey;
            padding: 3rem 4.5rem;
            background: linear-gradient(180deg, #DB190E 0%, #FF8B28 100%);
            box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
            margin-bottom: 6rem;
        }
        .mailing-cta {
            display: grid;
            grid-template-columns: 65% auto;
            color: $l_grey;
            font-size: 1.9rem;
            line-height: 1.3;
            margin-top: 6rem;
            background: linear-gradient(180deg, #F16A30 0%, #E51D12 100%);
            border-radius: 3.3rem;
            padding: 3rem;
            align-items: center;
            &>div:first-of-type {
                padding-left: 8rem;
                background: url(i/calendar.svg) left center no-repeat;
                background-size: 5rem;
            }
            &>:last-of-type {
                text-align: center;
                a {
                    display: inline-block;
                    background: #FFCB62;
                    border-radius: 57px;
                    color: #BD420D;
                    transition: all ease .3s;
                    text-decoration: none;
                    padding: 1rem 3rem;
                    margin-top: 0;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &>div {
            @include index_block;
            background: url(i/archetypes_bg.png) top left no-repeat;
            background-size: 96% auto;
            padding-top: 6rem;
            padding-bottom: 4.5rem;
            display: grid;
            gap: 6rem;
            grid-template-columns: 45% auto;
            .arch_photoes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                &>div {
                    color: white;
                    justify-content: center;
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: 2rem;
                    font-size: 2.8rem;
                    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.25));
                    border-radius: 38px;
                    border: $border solid $orange;
                    &:nth-child(1) {
                        background: url(i/arch_queen.jpg) center center no-repeat;
                        background-size: cover;
                    }
                    &:nth-child(2) {
                        background: url(i/arch_lover.jpg) center center no-repeat;
                        background-size: cover;
                    }
                    &:nth-child(3) {
                        background: url(i/arch_magician.jpg) center center no-repeat;
                        background-size: cover;
                    }
                    &:nth-child(4) {
                        background: url(i/arch_amazone.jpg) center center no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}


/* ----------FOOTER----------- */

footer {
    background: $d_brown;
    color: white;
    a {
        color: white;
    }
    &>div {
        @include index_block;
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &>div:not(.totop) {
            padding: 0 3rem;
            font-size: 1.6rem;
        }
        &:first-of-type {
            margin-left: auto;
        }
        .social {
            display: flex;
            align-items: center;
            a {
                display: block;
                height: 5rem;
                margin: 0 1rem;
                &.youtube {
                    width: 6.6rem;
                    background: url('i/icon-youtube.svg') left center no-repeat;
                    background-size: contain;
                }
                &.instagram {
                    width: 5.1rem;
                    background: url('i/icon-instagram.svg') left center no-repeat;
                    background-size: contain;
                }
                &.facebook {
                    width: 2.7rem;
                    background: url('i/icon-facebook.svg') left center no-repeat;
                    background-size: contain;
                }
            }
        }
        .totop {
            width: 4rem;
            height: 4rem;
            background: url('i/totop.svg') center center no-repeat;
            background-size: cover;
            margin: 0 0 0 auto;
            cursor: pointer;
            transition: all ease .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &>div:first-of-type {
            margin-left: auto;
        }
    }
}

.grecaptcha-badge {
    visibility: hidden;
}