@import "wpstyle";

/* Reset CSS*/

@import "reset";

/* /Reset CSS*/

//Colors
$l_grey:#F4F1E9;
$d_brown: #640D0D;
$brown:#9F4A4A;
$orange: #F34F0F;
$orange2: #F97B0C;
$orange3: #DB190E;
$d_orange: #BD420D;
$yellow: #FDEEA5;
$l_yellow: #F2E5C2;
$yellow2:#E4DBBB;
$red: #DF1818;
$red2:#DA170E;
$red3:#C30808;
$white-yellow: linear-gradient(180deg, white 0%, $yellow 100%);
$white-yellow-hor: linear-gradient(90deg, white 0%, $yellow 100%);
$vert-orange:linear-gradient(180deg, #E22D0E 0%, #F18A32 100%);
$vert-orange-sl:linear-gradient(180deg, $orange3 0%, $orange2 100%);
$vert-red:linear-gradient(180deg, $red2 0%, $orange2 100%);
$vert-red-reverse:linear-gradient(180deg, $orange2 0%, $red2 100%);
$vert-red-transparent:linear-gradient(180deg, $orange2 0%, $red2 85%, transparent 95%, transparent 100%);
$vert-red-transparent-ext:linear-gradient(180deg, $orange2 0%, $red2 60%, transparent 80%, transparent 100%);
$vert-orange-transparent-ext:linear-gradient(180deg, $red2 0%, $orange2 60%, transparent 80%, transparent 100%);
$vert-red-transparent-ext-rev:linear-gradient(0deg, $red2 0%, $orange2 60%, transparent 80%, transparent 100%);
$cta_gradient: linear-gradient(180deg, #F67836 0%, #C8160C 100%);
$courses_gradient: linear-gradient(179.2deg, #DF1307 30.17%, #FD8F29 70.46%, #FFE177 98.61%);
$mob_padding: 4.8vw; //left&right padding in mob version
$border: 3px;
$border-m: 2px;
$maxblock: 173rem;
$mb_padding: 18rem;
$mob_padding:3vw;
$mob_maxwidth: 94vw;
@mixin mobile-padding {
    padding-left: $mob_padding;
    padding-right: $mob_padding;
}

@mixin padding-zero {
    padding-left: 0;
    padding-right: 0;
}

@mixin mauto {
    margin-left: auto;
    margin-right: auto;
}

@mixin container_width {
    max-width: $main_col;
    margin-left: auto;
    margin-right: auto;
    @media all and (max-width: 768px) {
        max-width: 100%;
        @include mobile-padding;
    }
}

@mixin index_block {
    width: 90%;
    max-width: $maxblock;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: $mb_padding;
    padding-left: $mb_padding;
}

@mixin index_block_mob {
    width: $mob_maxwidth;
    max-width: $mob_maxwidth;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include padding-zero;
    box-sizing: border-box;
}

@mixin imgroundborder {
    filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
    border-radius: 9rem;
    position: relative;
    background-clip: padding-box;
    border: solid $border $orange;
}

@mixin imgroundborder_m {
    filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
    border-radius: 3rem;
    position: relative;
    background-clip: padding-box;
    border: solid $border $orange;
}


/* -----------Desktop & common styles-------------- */

@import "main";
@media all and (min-width:768px) and (max-width:1919px) {
    html {
        font-size: 8px;
    }
}


/* -----------/Desktop & common styles-------------- */


/* ----------------Mobile styles---------- */

@media all and (max-width:768px) {
    @import "mobile";
}

@media all and (max-width:320px) {
    @import "mobile_small";
}

@media all and (min-width:415px) and (max-width:768px) {
    @import "mobile_ipad";
}


/* ----------------/Mobile styles---------- */